{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include '_nav.html' %}
<style>
nav{
  background-image: none !important;
}
footer{
  background-image: none !important;
}
</style>
<div class="page-header header-filter" data-parallax="true" style="background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59)">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Young Ducklings following Stars</h1>
        <h4>Like Ducklings which follow their imprinted objects, <br/>sometimes you fell in love with your stars.
          <br/>Young Ducklings would love to manage your logs of history of fangirling/fanboying </h4>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock %}