{% load static %}
{% load bootstrap4 %}

<div class="page-header header-filter" data-parallax="true" style="background-image: url({% static 'img/duckling_header.jpg' %}); background-size: auoto;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Young Ducklings following Stars</h1>
        <h4>Like Ducklings which follow their imprinted objects, <br/>sometimes you fell in love with your stars.
          <br/>Young Ducklings would love to manage your logs of history of fangirling/fanboying </h4>
        <br>
      </div>
    </div>
  </div>
</div>