{% load static %}
{% load bootstrap4 %}
<style>
footer{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
  line-height: 0px;
  bottom: 0%; 
  color: white; 
  background-color: black;
}
</style>
<footer>
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://github.com/YoungDucklings/HerokuDeploy" target="_blank">Made by YoungDucklings</a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>
    </div>
  </div>
</footer>