{% load static %}
{% load bootstrap4 %}
<style>
  footer {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    line-height: 0px;
    bottom: 0%;
    color: white;
    background-color: black;
  }
  .info-icon:hover{
    color: blueviolet;
  }
</style>
<footer>
  <div class="container">
    <div class="row float-left">
      <div class="d-inline my-auto copyright">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>
      </div>
      <div class="d-inline my-auto mx-1">Made by YoungDucklings</div>
    </div>
    <nav class="float-right">
      <div>
        <a href="https://github.com/YoungDucklings/HerokuDeploy" target="_blank" style="color: white"><i class="fab fa-git-square fa-2x mx-2 info-icon"></i></a>
        <a style="color: grey"><i class="fab fa-instagram fa-2x mx-2"></i></a>
        <a style="color: grey"><i class="fab fa-facebook fa-2x mx-2"></i></a>
        <a style="color: grey"><i class="fas fa-envelope fa-2x mx-2"></i></a>
      </div>
    </nav>
  </div>
</footer>