{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}

<!-- START SIGMA IMPORTS -->
<script src="{% static 'sigma/src/sigma.core.js' %}"></script>
<script src="{% static 'sigma/src/conrad.js' %}"></script>
<script src="{% static 'sigma/src/utils/sigma.utils.js' %}"></script>
<script src="{% static 'sigma/src/utils/sigma.polyfills.js' %}"></script>
<script src="{% static 'sigma/src/sigma.settings.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.dispatcher.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.configurable.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.graph.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.camera.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.quad.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.edgequad.js' %}"></script>
<script src="{% static 'sigma/src/captors/sigma.captors.mouse.js' %}"></script>
<script src="{% static 'sigma/src/captors/sigma.captors.touch.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.canvas.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.webgl.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.svg.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.utils.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
<script src="{% static 'sigma/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
<script src="{% static 'sigma/src/middlewares/sigma.middlewares.copy.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.animation.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.bindEvents.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.drawHovers.js' %}"></script>
<!-- END SIGMA IMPORTS -->
<script src="{% static 'sigma/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js' %}"></script>
<style>
  #graph-container {
    height: 70vh;
    width: 70vw;
    margin: auto;
  }
</style>

<body class="profile-page sidebar-collapse">
  {% include '_simple_nav.html' %}
  {% include '_simple_header.html' %}

  <div class="main main-raised">

    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">

            <div class="profile">
              <div class="avatar">
                <img src="{% static 'img/duck.png' %}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>

              <div class="name">
                <h3 class="title">{{ user.username }}</h3>
                <h6>{{user.useremail}}</h6>
                {% if request.user != user %}
                {% if request.user in user.followers.all %}
                <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-link"><i class="fa fa-twitter"></i>
                  unflock</a>
                {% else %}
                <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-link"><i class="fa fa-twitter"></i> flock
                </a>
                {% endif %}
                {% endif %}

              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="description text-center">
            <p>
              {% if user.following.all or user.followers.all%}
              {{ user.username }} joined flocks of
              {% for following in user.following.all %}
              {{ following }} ,
              {% endfor %}
              {% for follower in user.followers.all %}
              {{ follower }} ,
              {% endfor %}
              {% else %}
              {{ user.username }} not flocked with any feather yet
              {% endif %}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div data-id="{{ user.pk }}" id="graph-container"></div>
          </div>
        </div>
        
        <h2 class="title">Gallery</h2>
        <div class="row">
          <h3>{{ user.username }} follows these stars... </h3>
          <div style="width: auto; overflow-x: scroll; white-space: nowrap;">
          {% for star in stars %}
          <a href="{% url 'stars:detail' star.pk %}"><img src="{{ star.profileimg_set.first }}" width="30%"></a>
          {% endfor %}
          </div>
        </div>
        <div class="row">
        <h3>{{ user.username }} watched these movies... </h3>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for movie in movies %}
            {% if forloop.first %}
            <div class="carousel-item active">
              <div class="card bg-dark text-white">
                <img class="card-img" src="{{ movie.backdrop_set.first }}" alt="Card image">
                <div class="card-img-overlay">
                  <h4 class="card-title">{{ movie.title }}</h4>
                  <p class="card-text">
                    {% for cast in movie.cast_set.all %}
                    {{ cast.star }}
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="carousel-item">
              <div class="card bg-dark text-white">
                <img class="card-img" src="{{ movie.backdrop_set.first }}" alt="Card image">
                <div class="card-img-overlay">

                  <h4 class="card-title">{{ movie.title }}</h4>
                  <p class="card-text">
                    {% for cast in movie.cast_set.all %}
                    {{ cast.star }}
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      </div>
    </div>
  </div>
  
<script>
  const userpk = document.querySelector('#graph-container').dataset.id
  axios.get(`/api/v1/accounts/${userpk}/`)
    .then(res => {
      const stars = res.data.likestars
      let s
      let graph = {
        nodes: [],
        edges: []
      }
      // add nodes for likestars
      for (let i = 0; i < stars.length; i++) {
        graph.nodes.push({
          id: 'star ' + stars[i].name,
          label: stars[i].name,
          x: Math.random(),
          y: Math.random(),
          size: 4,
          color: '#7f0000'
        })
      }
      // for iteration again to avoid overlapping of starnodes
      for (let i = 0; i < stars.length; i++) {
        if (stars[i].coworker_from) {
          // add nodes for coworker & movies of likestars
          for (let j = 0; j < stars[i].coworker_from.length; j++) {
            // add nodes for movies of likestars, which is not added
            const mfound = graph.nodes.some(el => el.id === 'movie ' + stars[i].coworker_from[j].movie)
            if (!mfound) {
              graph.nodes.push({
                id: 'movie ' + stars[i].coworker_from[j].movie,
                label: stars[i].coworker_from[j].movie,
                x: Math.random(),
                y: Math.random(),
                size: 3,
                color: '#4B0082',
              })
            }
            // add nodes for coworker of likestars, who is not added
            const sfound = graph.nodes.some(el => el.id === 'star ' + stars[i].coworker_from[j].to_star)
            if (!sfound) {
              graph.nodes.push({
                id: 'star ' + stars[i].coworker_from[j].to_star,
                label: stars[i].coworker_from[j].to_star,
                x: Math.random(),
                y: Math.random(),
                size: 2,
                color: '#787878'
              })
            }
          }
        }
      }
      for (let i = 0; i < stars.length; i++) {
        if (stars[i].coworker_from) {
          for (let j = 0; j < stars[i].coworker_from.length; j++) {
            const efound = graph.edges.some(el => el.id === stars[i].name + '_' + stars[i].coworker_from[j].movie)
            // add an edge likestar -> movie
            if (!efound) {
              graph.edges.push({
                id: stars[i].name + '_' + stars[i].coworker_from[j].movie,
                source: 'star ' + stars[i].name,
                target: 'movie ' + stars[i].coworker_from[j].movie,
                size: 1,
                color: '#787878'
              })
            }
            // add edges movie -> to_stars
            const eefound = graph.edges.some(el => el.id === stars[i].coworker_from[j].movie + '_' + stars[i].coworker_from[j].to_star)
            if (!eefound) {
              graph.edges.push({
              id: stars[i].coworker_from[j].movie + '_' + stars[i].coworker_from[j].to_star,
              source: 'movie ' + stars[i].coworker_from[j].movie,
              target: 'star ' + stars[i].coworker_from[j].to_star,
              size: 1,
              color: '#787878'
              })
            }
          }
        }
      }
      // sigma.renderers.def = sigma.renderers.canvas
      // Instantiate sigma:
      s = new sigma({
        graph: graph,
        container: 'graph-container'
      });
      // Initialize the dragNodes plugin:
      let dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);
      dragListener.bind('startdrag', function (event) { });
      dragListener.bind('drag', function (event) { });
      dragListener.bind('drop', function (event) { });
      dragListener.bind('dragend', function (event) { });
    })
</script>


{% endblock %}