{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}

<!-- START SIGMA IMPORTS -->
<script src="{% static 'sigma/src/sigma.core.js' %}"></script>
<script src="{% static 'sigma/src/conrad.js' %}"></script>
<script src="{% static 'sigma/src/utils/sigma.utils.js' %}"></script>
<script src="{% static 'sigma/src/utils/sigma.polyfills.js' %}"></script>
<script src="{% static 'sigma/src/sigma.settings.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.dispatcher.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.configurable.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.graph.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.camera.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.quad.js' %}"></script>
<script src="{% static 'sigma/src/classes/sigma.classes.edgequad.js' %}"></script>
<script src="{% static 'sigma/src/captors/sigma.captors.mouse.js' %}"></script>
<script src="{% static 'sigma/src/captors/sigma.captors.touch.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.canvas.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.webgl.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.svg.js' %}"></script>
<script src="{% static 'sigma/src/renderers/sigma.renderers.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.nodes.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.edges.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.edges.fast.js' %}"></script>
<script src="{% static 'sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.labels.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.hovers.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.nodes.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.curve.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js' %}"></script>
<script src="{% static 'sigma/src/renderers/canvas/sigma.canvas.extremities.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.utils.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.nodes.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.edges.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.edges.curve.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.labels.def.js' %}"></script>
<script src="{% static 'sigma/src/renderers/svg/sigma.svg.hovers.def.js' %}"></script>
<script src="{% static 'sigma/src/middlewares/sigma.middlewares.rescale.js' %}"></script>
<script src="{% static 'sigma/src/middlewares/sigma.middlewares.copy.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.animation.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.bindEvents.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.bindDOMEvents.js' %}"></script>
<script src="{% static 'sigma/src/misc/sigma.misc.drawHovers.js' %}"></script>
<!-- END SIGMA IMPORTS -->
<script src="{% static 'sigma/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js' %}"></script>
<script src="{% static 'sigma/plugins/sigma.plugins.neighborhoods/sigma.plugins.neighborhoods.js' %}"></script>
<style>
  #graph-container {
    height: 50vh;
    min-height: 280px;
    min-width: 280px;
    margin: auto;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .arraycontainer::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  .arraycontainer {
    -ms-overflow-style: none;
    width: auto; overflow-x: auto; white-space: nowrap;
  }
  .staravatar {
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }
  .neighboravatar {
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .movieposter {
    width: 30vw;
    max-width: 180px;
    min-width: 120px;
  }

  .gradebar {
    height:10px; align-self: flex-end; width:30px; background-image: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59); margin-left:5px;
  }
</style>

  {% include '_nav.html' %}

<div id="content-container" class="container">
  <div class="row" style="margin-top:70px"></div>
  <div class="row">
    <div class="card col-xs-11 col-md-7 mx-auto">
      <div class="card-body d-flex justify-content-around">
        <div class="col-xs-5 col-md-3 p-0 d-flex align-self-center">
          <img src="{% static 'img/duck.png' %}" alt="Circle Image" class="rounded-circle img-fluid">
        </div>
        <div class="col-xs-5 col-md-3 p-0">
          <h4 class="card-title"></h4>
          <div class="card-subtitle d-flex flex-column justify-content-center">
            <button class="btn btn-round" data-toggle="modal" data-target="#userDetailModal" style="background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59)">{{ user.username }}</button>
            {% if request.user != user %}
            {% if request.user in user.followers.all %}
            <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-link">unflock</a>
            {% else %}
            <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-link">flock
            </a>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title btn btn-round" id="userModalLabel" style="background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59)">{{ user.username }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>feather of {{ user.username }}</h6>
          <p>
            {% if user.following.all or user.followers.all%}
            {{ user.username }} joined flocks of
            {% for following in user.following.all %}
            <a href="{% url 'accounts:detail' following.pk %}" class="btn btn-primary btn-link">{{ following }}</a>
            {% endfor %}
          </p>
          <p>
            {% for follower in user.followers.all %}
            <a href="{% url 'accounts:detail' follower.pk %}" class="btn btn-primary btn-link">{{ follower }}</a>
            {% endfor %}
            {% else %}
            {{ user.username }} not flocked with any feather yet
            {% endif %}
          </p>
          <h6>average score of {{ user.username }} is {{ average }}</h6>
          <div class="mb-2" style="display:flex; justify-content:center; height:120px;">
            {% for score in scoreli %}
            <div class="gradebar" style="height:{{score}}px"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-0">
    <div class="card col-xs-11 col-md-7 mx-auto mt-3">
      <div class="card-header card-header-text card-header-primary"  style="background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59)">
        <div class="card-text">
          <h4 class="card-title">Star Dashboard</h4>
        </div>
      </div>
      <div class="card-body px-0">
        <div data-id="{{ user.pk }}" id="graph-container"></div>
      </div>
    </div>
  </div>

  <div class="row my-0">
    <div class="card col-xs-11 col-md-7 mx-auto">
      <div class="card-body">
        <h4 class="card-title">Who you are followings</h4>
        <div class="arraycontainer mb-2">
          <div class="defaultarray" style="display:flex">
            {% for star in stars %}
              <div class="mx-1" style="display:flex; flex-direction:column;">
                <img src="{{ star.profileimg_set.first }}" class="staravatar card-img">
                <a href="{% url 'stars:detail' star.pk %}"></a><button class="btn btn-primary btn-sm">{{star}}</button></a>
              </div>
            {% endfor %}
          </div>
          <div id="stararray" style="display:flex"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-0">
    <div class="card col-xs-11 col-md-7 mx-auto">
      <div class="card-body">
        <h4 class="card-title">What you've seen before</h4>
        <div class="arraycontainer mb-2">
          <div class="defaultarray" style="display:flex">
            {% for movie in movies %}
            <div class="mx-1">
              <a href="{% url 'movies:detail' movie.pk %}">
                <img src="{{ movie.poster_set.first }}" alt="Card image" class="movieposter">
              </a>
            </div>
            {% endfor %}
          </div>
          <div id="moviearray" style="display:flex"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-0">
    <div class="card col-xs-11 col-md-7 mx-auto">
      <div class="card-body mt-0">
        <h4 class="card-title">Check out which movie you have missed of your stars</h4>
        <div class="arraycontainer mb-2">
          {% for star in stars %}
            {% for cast in star.cast_set.all %}
              {% if cast.movie not in movies %}
              <a href="{% url 'movies:detail' cast.movie.pk %}"><img src="{{ cast.movie.poster_set.first }}" class="movieposter"></a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row my-0">
    <div class="card col-xs-11 col-md-7 mx-auto">
      <div class="card-body mt-0">
        <h4 class="card-title">People also love these movies</h4>
        <div class="arraycontainer mb-2">
          {% for pop in popular %}
            {% if pop not in movies %}
              {% if pop.poster_set.all %}
              <a href="{% url 'movies:detail' pop.pk %}"><img src="{{ pop.poster_set.first }}"  class="movieposter"></a>
              {% else %}
              <a href="{% url 'movies:detail' pop.pk %}"><img src="{% static 'img/default.png' %}"  class="movieposter"></a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div> 
  </div>

</div>



<script>
  const userpk = document.querySelector('#graph-container').dataset.id
  const likestarset = []
  const movieset = []
  const starObject = {}
  const movieObject = {}
  const starArray = document.querySelector('#stararray')
  const movieArray = document.querySelector('#moviearray')
  axios.get(`/api/v1/accounts/${userpk}/`)
    .then(res => {
      const stars = res.data.likestars
      const movies = res.data.likemovies
      const myStarColor = '#F64F59'
      const neighborColor = '#c471ed'
      const movieColor = '#12c2e9'
      const background = '#eeeeee'
      const edgeColor = '#D3D3D3'
      let graph = {
        nodes: [],
        edges: []
      }
      const db = new sigma.plugins.neighborhoods();

      // add nodes for likestars
      for (let i = 0; i < stars.length; i++) {
        graph.nodes.push({
          id: stars[i].pk,
          label: stars[i].name,
          x: Math.random(),
          y: Math.random(),
          size: 15,
          color: myStarColor
        })
        likestarset.push(stars[i].pk)
        starObject[stars[i].pk] = stars[i].profileimg_set[0]
      }
      // for iteration again to avoid overlapping of starnodes
      for (let i = 0; i < stars.length; i++) {
        if (stars[i].coworker_from) {
          // add nodes for coworker & movies of likestars
          for (let j = 0; j < stars[i].coworker_from.length; j++) {
            // add nodes for movies of likestars, which is not added
            const mfound = graph.nodes.some(el => el.id === stars[i].coworker_from[j].movie.pk)
            if (!mfound) {
              graph.nodes.push({
                id: stars[i].coworker_from[j].movie.pk,
                label: stars[i].coworker_from[j].movie.title,
                x: Math.random(),
                y: Math.random(),
                size: 5,
                color: movieColor,
              })
              movieset.push(stars[i].coworker_from[j].movie.pk)
              movieObject[stars[i].coworker_from[j].movie.pk] = stars[i].coworker_from[j].movie.poster_set[0]
            } else {
              graph.nodes.find(x => x.id === stars[i].coworker_from[j].movie.pk).size = 10
            }
            // add nodes for coworker of likestars, who is not added
            const sfound = graph.nodes.some(el => el.id === stars[i].coworker_from[j].to_star.pk)
            if (!sfound) {
              graph.nodes.push({
                id: stars[i].coworker_from[j].to_star.pk,
                label: stars[i].coworker_from[j].to_star.name,
                x: Math.random(),
                y: Math.random(),
                size: 7,
                color: neighborColor
              })
              starObject[stars[i].coworker_from[j].to_star.pk] = stars[i].coworker_from[j].to_star.profileimg_set[0]
            } else {
              graph.nodes.find(x => x.id === stars[i].coworker_from[j].to_star.pk).size += 2
            }
          }
        }
      }
      for (let i = 0; i < stars.length; i++) {
        if (stars[i].coworker_from) {
          for (let j = 0; j < stars[i].coworker_from.length; j++) {
            const efound = graph.edges.some(el => el.id === stars[i].pk + '_' + stars[i].coworker_from[j].movie.pk)
            // add an edge likestar -> movie
            if (!efound) {
              graph.edges.push({
                id: stars[i].pk + '_' + stars[i].coworker_from[j].movie.pk,
                source: stars[i].pk,
                target: stars[i].coworker_from[j].movie.pk,
                size: 1,
                color: edgeColor
              })
            }
            // add edges movie -> to_stars
            const eefound = graph.edges.some(el => el.id === stars[i].coworker_from[j].movie.pk + '_' + stars[i].coworker_from[j].to_star.pk)
            if (!eefound) {
              graph.edges.push({
              id: stars[i].coworker_from[j].movie.pk + '_' + stars[i].coworker_from[j].to_star.pk,
              source: stars[i].coworker_from[j].movie.pk,
              target: stars[i].coworker_from[j].to_star.pk,
              size: 1,
              color: edgeColor
              })
            }
          }
        }
      }
      // sigma.renderers.def = sigma.renderers.canvas
      // Instantiate sigma:
      s = new sigma({
        graph: graph,
        container: 'graph-container',
        type: 'canvas'
      });

      // find all neighborhood
      function dfs(nArray) {
        let nStack = nArray.map(el => el.id)
        let point = 1
        while (point < nStack.length) {
          s.graph.neighborhood(nStack[point]).nodes.forEach(el => {
            if (!(nStack.includes(el.id))) {nStack.push(el.id)}
          })
          point += 1
        }
        return nStack
      }

      // Initialize the dragNodes plugin:
      let dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);
      dragListener.bind('startdrag', function (event) { });
      dragListener.bind('drag', function (event) { });
      dragListener.bind('drop', function (event) { });
      dragListener.bind('dragend', function (event) { });
      
      // initialize the neighborhood
      s.bind('clickNode', function(e) {
        document.querySelectorAll('div.defaultarray').forEach(el => el.style.display = "none")
        starArray.innerHTML = ""
        movieArray.innerHTML = ""
        let nodeId = e.data.node.id,
            toKeep = dfs(s.graph.neighborhood(nodeId).nodes);

        s.graph.nodes().forEach(function(n) {
          if (toKeep.includes(n.id)){
            let starimg = document.createElement("a")
            starimg.href = `/stars/${n.id}/`
            if (likestarset.includes(n.id)){
              n.color = myStarColor
              starimg.innerHTML = `<div style="display:flex; flex-direction:column;">
              <img src="${starObject[n.id]}" class="staravatar"/>
              <button class="btn btn-primary btn-sm">${n.label}</button></div>`
            } else if (!movieset.includes(n.id)) {
              n.color = neighborColor
              starimg.innerHTML = `<div style="display:flex; flex-direction:column;">
              <img src="${starObject[n.id]}" class="neighboravatar"/>
              <button class="btn btn-default btn-sm">${n.label}</button></div>`
            } else {
              n.color = movieColor
              let movieimg = document.createElement("a")
              movieimg.href = `/movies/${n.id}/`
              if (movies.includes(n.id)){
                movieimg.innerHTML = `<div class="mx-1">
                <img class="movieposter" src="${movieObject[n.id]}" alt="Card image"></div>`
              } else {
                movieimg.innerHTML = `<div class="mx-1">
                <img class="movieposter" src="${movieObject[n.id]}" alt="Card image" style="-webkit-filter: grayscale(100%);
                filter: grayscale(100%);"></div>`
              }
              
              movieArray.appendChild(movieimg)
            }
            starArray.appendChild(starimg)
            } else {
              n.color = '#eee'
            }
        });

        s.graph.edges().forEach(function(e) {
          if ((toKeep.includes(e.source)) && (toKeep.includes(e.target))){
            e.color = edgeColor
          } else {
            e.color = background
          }
        });

        s.refresh()
      })
      s.bind('clickStage', function(e) {
        starArray.innerHTML = ""
        movieArray.innerHTML = ""
        document.querySelectorAll('div.defaultarray').forEach(el => el.style.display = "flex")
        s.graph.nodes().forEach(function(n) {
          if (likestarset.includes(n.id)){
            n.color = myStarColor
          } else if(movieset.includes(n.id)) {
            n.color = movieColor
          } else {
            n.color = neighborColor
          }
        });
        s.graph.edges().forEach(function(e) {
          e.color = edgeColor;
        });
        s.refresh();
      });
    })
    
</script>


{% endblock %}