{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block body %}

{% include '_nav.html' %}
<style>
  .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 0px 10px;
}

h5 {
  white-space:normal;
}
</style>

<div id="content-container" class="container">
  <div class="card col-12 text-center mt-2 mx-auto">
    <div class="card-body">
      <h4 class="card-title">Pick your stars and movies!</h4>
      <p class="card-text">
        Get some your favorite to start our Service</p>
      <div class="progress-container progress-warning">
        <div class="progress mt-2">
          <div id="percentage" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0"
            aria-valuemax="100" style="width: 0%;">
          </div>
        </div>
      </div>
      <a href="{% url 'accounts:detail' request.user.pk %}" class="btn btn-primary">submit</a>
    </div>
  </div>



  <div class="array-container col-12" style="overflow-x:auto; white-space: nowrap;">
    <div style="display:inline-flex; align-items:center;">
    {% for pick in pickset %}
      <div class="card my-3 mx-3 bg-dark text-white" style="width:20vw; min-width:200px; margin: auto;">
        {% if pick.name %}
        {% if pick.profileimg_set.all %}
        <img src="{{ pick.profileimg_set.first }}" class="card-img rounded mx-auto" alt="{{ pick.name }}">
        {% else %}
        <img src="{% static 'img/star.png' %}" class="card-img rounded mx-auto" alt="{{ pick.name }}">
        {% endif %}
        <div class="content">
          <h5 class="card-title">{{ pick.name }}</h5>
          <p class="card-text">
            {% if user in star.user_set.all %}
            <button id="like-button" class="btn btn-danger btn-link btn-fab btn-fab-mini btn-round">
              <i data-id="{{ pick.pk }}" class="material-icons">favorite</i></button>
            {% else %}
            <button id="like-button" class="btn btn-danger btn-link btn-fab btn-fab-mini btn-round">
              <i data-id="{{ pick.pk }}" class="material-icons" style="color: transparent;
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: red;">favorite</i></button>
            {% endif %}
          </p>
        </div>
        {% else %}
        {% if pick.poster_set.all %}
        <img src="{{ pick.poster_set.first }}" class="card-img rounded mx-auto" alt="{{ pick.title }}">
        {% else %}
        <img src="{% static 'img/poster.png' %}" class="card-img rounded mx-auto" alt="{{ pick.title }}">
        {% endif %}
        <div class="content">
          <h5 class="card-title">{{ pick.title }}</h5>
          <p class="card-text">
            <div data-id="{{ pick.pk }}" id="score-box">
              {% for i in '12345'|make_list %}
              {% if score >= forloop.counter %}
              <i id="{{ forloop.counter }}" class="fa fa-star" aria-hidden="true"
                onclick="mouseClick({{ forloop.counter }})" style="color: gold; text-shadow: 3px 5px grey"></i>
              {% else %}
              <i id="{{ pick.pk }}{{ forloop.counter }}" class="fa fa-star" aria-hidden="true"
                onclick="mouseClick({{ forloop.counter }}, {{ pick.pk }})"></i>
              {% endif %}
              {% endfor %}
            </div>
          </p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{% static 'js/moviedetail.js' %}" type="text/javascript"></script>
{% endblock %}