{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block body %}

{% include '_simple_nav.html' %}
{% include '_big_header.html' %}

<div class="main main-raised">
  <div style="height:10px"></div>

  <div class="container" style="width:70%; margin-left: auto; margin-right: auto;">
    <div class="card card-nav-tabs text-center">
      <div class="card-header card-header-primary">
        Ready to Start
      </div>
      <div class="card-body">
        <h4 class="card-title">Pick your stars and movies!</h4>
        <p class="card-text">Below cards contain some random movies and stars. <br />
          Get some your favorite to start our Service</p>
      </div>
    </div>
  </div>

  <div class="fixed-bottom container " style="width:50%; margin-left: auto; margin-right: auto;">
    <div class="card card-nav-tabs text-center">

      <div class="card-body">
        <div class="progress-container progress-warning">
          <span class="progress-badge">progressing</span>
          <div class="progress mt-2">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0"
              aria-valuemax="100" style="width: 45%;">
            </div>
          </div>
        </div>
        <a href="{% url 'info:rec' %}" class="btn btn-primary">submit</a>
      </div>
    </div>
  </div>

  {% for pick in pickset %}
  <div class="card mb-3" style="width:70%; margin-left: auto; margin-right: auto;">
    {% if pick.name %}
    <div class="container">
      {% if pick.profileimg_set.all %}
      <img src="{{ pick.profileimg_set.first }}" class="rounded mx-auto d-block" alt="{{ pick.name }}" style="width:30%">
      {% else %}
      <img src="{% static 'img/default.png' %}" class="rounded mx-auto d-block" alt="{{ pick.name }}" style="width:30%">
      {% endif %}
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ pick.name }}
        {% if user in star.user_set.all %}
        <button id="like-button" class="btn btn-danger btn-link btn-fab btn-fab-mini btn-round">
          <i data-id="{{ pick.pk }}" class="material-icons">favorite</i></button>
        {% else %}
        <button id="like-button" class="btn btn-danger btn-link btn-fab btn-fab-mini btn-round">
          <i data-id="{{ pick.pk }}" class="material-icons" style="color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: red;">favorite</i></button>
        {% endif %}
      </h4>
    </div>
    {% else %}
    {% if pick.poster_set.all %}
    <img src="{{ pick.poster_set.first }}" class="rounded mx-auto mt-3 d-block" alt="{{ pick.title }}" style="width:50%">
    {% else %}
    <img src="{% static '/img/default.png' %}" class="rounded mx-auto mt-3 d-block" alt="{{ pick.title }}"
      style="width:50%">
    {% endif %}
    <div class="card-body">
      <h4 class="card-title">{{ pick.title }}</h4>
      <p class="card-text">
        <div data-id="{{ pick.pk }}" id="score-box">
          {% for i in '12345'|make_list %}
          {% if score >= forloop.counter %}
          <i id="{{ forloop.counter }}" class="fa fa-star" aria-hidden="true"
            onclick="mouseClick({{ forloop.counter }})" style="color: gold; text-shadow: 3px 5px grey"></i>
          {% else %}
          <i id="{{ forloop.counter }}{{ movie }}" class="fa fa-star" aria-hidden="true"
            onclick="mouseClick({{ forloop.counter }})"></i>
          {% endif %}
          {% endfor %}
        </div>
      </p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
<script>
  const likeButton = document.querySelector('#like-button')
  likeButton.addEventListener('click', e => {
    const starId = e.target.dataset.id
    axios.get(`/stars/${starId}/like/`)
      .then(res => {
        // console.log(res.data)
        if (res.data.liked) {
          // unlike button
          e.target.removeAttribute("style")
        } else {
          // like button
          e.target.setAttribute(
            "style", "color: transparent; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: red;");
        }
      })
  })

  function mouseClick(n) {
    for (let i = n; i > 0; i--) {
      // console.log(i)
      document.getElementById(i).setAttribute(
        "style", "color: gold; text-shadow: 3px 5px grey");
    }
    for (let i = n + 1; i < 6; i++) {
      // console.log(i)
      document.getElementById(i).removeAttribute(
        "style");
    }
    // console.log(document.querySelector('#score-box'))
    movie_id = document.querySelector('#score-box').dataset.id
    axios.get(`/movies/${movie_id}/${n}/rate/`)
  }

</script>
{% endblock %}